.App {
  & .GenerationSelector {
    & .MuiFormGroup-root {
      align-items: center;
    }
  }

  & .PlayButton {
    display: flex;
    justify-content: center;
  }

  & .PokemonSelector {
    display: flex;
    justify-content: center;
  }
}
